<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="BlueOnion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<BlueOnion.Properties.Settings>
   <setting name="CD" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="Fixed" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Networked" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Ram" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Removable" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="HideTrayIcon" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AutoStart" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Locus" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="MinimizeAll" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ApplicationVersion" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="RememberIconPositions" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="OpenExplorer" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MonitorOffset" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="Exclude" serializeAs="String">
    <value>A:\,C:\</value>
   </setting>
   <setting name="RemindRemove" serializeAs="String">
    <value>False</value>
   </setting>
  </BlueOnion.Properties.Settings>
	</userSettings>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
